<div class="jumbotron text-white text-center" style="background: url('https://shantanu-nandi.github.io/susi/assets/apple-mouse-artificial-flowers-blurred-background.jpg') no-repeat fixed center">
  <h1 class="display-6">Shantanu Nandi</h1>
  <p class="lead">Full Stack Developer</p>
  <hr class="my-3">
  <blockquote class="blockquote">
    <p class="mb-0" style="font-size: 0.8em">I'm not a great programmer; I'm just a good programmer with great habits.</p>
    <footer class="blockquote-footer">Kent Beck</footer>
  </blockquote>
  <a class="btn btn-outline-primary btn-lg text-uppercase" href="#" role="button">Know more about me</a>
</div>