<app-hero-section></app-hero-section>

<app-cards-section></app-cards-section>

<app-technologies-section></app-technologies-section>

<div class="container my-4" style="background-color: #f7f7f7; background-image: linear-gradient( 45deg, #f7f7f7 0%, #e8e8e8 100%)">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="https://shantanu-nandi.github.io/susi/assets/shantanu.jpg" alt="shantanu nandi" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      <header class="text-center text-uppercase font-weight-bold">
        <h3 class="display-6">Get in touch with Shantanu</h3>
        <p class="lead">Full Stack Developer</p>
      </header>
      <hr>
      <div class="row my-4">
        <div class="col">
          <a href="tel:91-8125995698" class="btn btn-block btn-outline-primary text-uppercase">CALL NOW</a>
        </div>
        <div class="col">
          <a href="mailto:shantanu.nandi1994@gmail.com" class="btn btn-block btn-outline-primary text-uppercase">DROP
            MAIL</a>
        </div>
      </div>
    </div>
  </div>
</div>
